/* You can add global styles to this file, and also import other style files */
body{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background: url("./assets/images/02.jpg") fixed;
  background-size: 150vw 150vh; /* Utilisez les unités vw et vh pour ajuster la taille */
  height: 100vh;
}


html {
  margin: 0;
}
